.root {
    -fx-background-color: lightblue;
}
.piece-button{
    -fx-background-color: #1AA5DB;
    -fx-text-fill: white;
    -fx-border-color: #037AAD;
    -fx-border-width: 2;
}

.selected-button{
    -fx-background-color: #1AA5DB;
    -fx-text-fill: white;
    -fx-border-color: #0895D1;
    -fx-border-width: 2;
}

.empty-button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.camp-button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

#fullBoard{
    -fx-background-image: url("../images/luzhanqiboard.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#upperBoard, #lowerBoard {
    -fx-background-color: transparent;
}