.root {
    -fx-background-color: lightblue;
}
.piece-button{
    -fx-background-color: #1AA5DB;
    -fx-text-fill: white;
    -fx-border-color: #037AAD;
    -fx-border-width: 2;
}

.selected-button{
    -fx-background-color: #1AA5DB;
    -fx-text-fill: white;
    -fx-border-color: #0895D1;
    -fx-border-width: 3;
}

#fullBoard{
    -fx-background-image: url("../images/luzhanqiboard.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#upperBoard, #lowerBoard {
    -fx-background-color: transparent;
}